<!DOCTYPE html>
<html>
<head>
    <title>Files</title>
</head>
<body>
    <h1>Arquivos</h1>
    <form method="post" action="/delete">
        {% if files %}
            <input type="submit" value="Excluir selecionados" formaction="/delete">
            {% for file in files %}
                <div>
                    <input type="checkbox" name="selected_files" value="{{ file.name }}">
                    {% if file.name.split(".")[-1] in ['jpg'] %}
                        <div>
                            <h3>{{ file.name }}</h3>
                            <img src="/files/{{ file.name }}" alt="{{ file.name }}">
                            <form action="/delete/{{ file.name }}/{{ file.id }}" method="post">
                                <input type="submit" value="Delete" formaction="/delete/{{ file.name }}/{{ file.id }}">
                            </form>
                        </div>
                    {% endif %}
                    {% if file.name.split(".")[-1] in ['txt', 'py'] %}
                        <ul>
                            <li>
                                <a href="{{ url_for('get_file', filename=file.name, id=file.id) }}">{{ file.name }}</a>
                                <form action="/delete/{{ file.name }}/{{ file.id }}" method="post">
                                    <input type="submit" value="Delete" formaction="/delete/{{ file.name }}/{{ file.id }}">
                                </form>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>Nenhum arquivo na lista.</p>
        {% endif %}
    </form>
</body>
</html>